<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
</head>
<body>
	<section class="layout-content" layout:fragment="corpo">
		<div class="container col-md-5" id="cadastro">
		<h3 class="form-title">Registo de Artigos</h3>
		<hr>
			<form
				th:action="${artigo.id==0} ? @{/artigos/processar} : @{/artigos/editar}"	th:object="${artigo}" enctype="multipart/form-data" method="Post">
				<div class="form-row">
					<div class="form-group col-md-12">
						<label for="nome">Nome: </label> <input type="text"
							class="form-control" placeholder="Nome Artigo"
							th:field="*{descricao}" autofocus="autofocus" required="required">
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-7">
						<label for="codigoBarra">Código. Barras: </label> <input type="text"
							class="form-control" th:field="*{codigo_barra}"
							placeholder="Codigo de Barra" autofocus="autofocus"
							required="required">
					</div>
					<div class="form-group col-md-5">
						<label for="codigoBarra">Categoria: </label> 
						<a href="/categorias">
							<img src="/img/icones/mais.png" class="profile_image" width="16" title="Adicionar Categoria">
						</a>
						<select	class="form-control" th:field="*{categoria}" autofocus="autofocus" required="required">
							<option value="">Seleccione</option>
							<option th:each="c : ${categorias}" th:value="${c.id}"	th:text="${c.nome}">Calcados</option>
						</select>
						
					</div>
					
				</div>
				<div class="form-row">
					<div class="form-group col-md-10">
						<input type="file" id="foto"  th:name="file">
					</div>
				</div>
				<p>
					<img alt="Preview" id="thumbnail" width="120" class="img-thumbnail">
				</p>
				<input type="hidden" id="id" th:field="*{id}" />
				<div th:if="${artigo.id} == 0">
					<button type="submit" class="btn btn-primary btn-sm">Cadastrar</button>
					<a href="/artigos" class="btn btn-danger btn-sm">Cancelar</a>					
				</div>
				<div th:if="${artigo.id} != 0">
					<button type="submit" class="btn btn-primary btn-sm">Actualizar</button>
					<a href="/artigos" class="btn btn-danger btn-sm">Cancelar</a>					
				</div>
			</form>
		</div>
	</section>
	<script type="text/javascript">
		$(document).ready(function(){
		    $('#foto').change(function(){
		      mostrarImagemThumbnail(this);
		    })
		});
		
		function mostrarImagemThumbnail(fileInput){
			file = fileInput.files[0];
			reader =new FileReader();
			
			reader.onload=function(e){
				$('#thumbnail').attr('src', e.target.result);
			}		
			reader.readAsDataURL(file);
		}
	
	</script>
</body>
</html>
