<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
</head>
<body>
	<section class="layout-content" layout:fragment="corpo">
		<div class="container mt-3" id="pesquisar">		
		<h3 class="form-title">Registos de Artigos</h3>
			<form th:action="@{/artigos/pesquisar}" method="get">
				<div class="form-row">
					<div class="input-group col-md-12">
						<input type="search" name="search" class="form-control rounded mr-1"
							placeholder="Pesquisar" aria-label="Search"
							aria-describedby="search-addon" />
						<button type="submit" class="btn btn-outline-primary btn-sm">Pesquisar</button>
					</div>
				</div>
			</form>	
		<div th:replace="fragments/alert"></div>		
		<hr>
		</div>
		<div class="container" id="listagem">
			<div class="row">
				<div class="col-md-4">
					<a href="/artigos/cadastrar" class="btn btn-success  mb-2 btn-sm">Novo Artigo</a>	
				</div>
				<div class="col-md-8 float-right form-group">
					<!-- Categoria: <select class=""></select> -->
	
				</div>										
			</div>
			<div class="table-responsive">
				<table class="display table table-striped  table-hover table-sm" id="table-server" style="width: 100%">
					<thead>
						<tr>
							<th>#</th>
							<th>Imagem</th>
							<th>Cod. Barra</th>
							<th>Descricao</th>
							<th>Categoria</th>
							<th>Ação</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="artigo : ${artigos}">
							<td scope="col" th:text="${artigoStat.index}+1">1</td>
							<td><a id="photoButton"	th:href="@{'/img/fotos/'+ ${artigo.foto}}" target="_blank"> <img
									th:src="@{'/img/fotos/'+ ${artigo.foto}}" height="60"  width="60" class="img-thumbnail">
							</a></td>
							<td th:text="${artigo.codigo_barra}">109099999</td>
							<td th:text="${artigo.descricao}">Calca Jeans</td>
							<td th:text="${artigo.categoria.nome}"></td>
							<td colspan="2"><a class="btn btn-info btn-sm" href=""
								role="button"
								th:href="@{/artigos/editar/{id} (id=${artigo.id})}"> <span
									class="oi oi-brush" title="Editar" aria-hidden="true"></span>
							</a> <a th:href="@{/artigos/excluir/{id} (id=${artigo.id})}"
								role="button" class="btn btn-danger btn-sm"> <span
									class="oi oi-circle-x" title="Exclusão desabilitada"
									aria-hidden="true"></span>
							</a> <a th:href="@{/artigos/detalhes/{id} (id=${artigo.id})}"
								role="button" class="btn btn-warning btn-sm"> <span
									class="oi oi-eye" title="Detalhes" aria-hidden="true"></span>
							</a></td>
						</tr>
					</tbody>
				</table>
				<hr>
				<a href="/utilizadores/export" target="_blank" class="btn btn-outline-secondary float-right btn-sm" title="Imprimir"> <span><i class="fas fa-print"></i></span></a>
			</div>
		</div>
	</section>

	<script type="text/javascript">
	/*$(document).ready(function(){
		$('#table-server').DataTable({
			processing: true,
			serverSide: true,
			responsive: true,
			lengthMenu: [10,15,20,25],
			ajax: {
				url: "/artigos/datatables/server",
				data: "data"
			},
			columuns: [
				{data: 'id'},
				{data: 'descricao'},
				{data: 'codigo_barra'},
				{data: 'preco_unitario'},
				{data: 'quan_min'},
				{data: 'quant_armazem'},
				{data: 'quant_loja'},
				{data: 'foto'}
			],
			columnDefs: [{
			    "defaultContent": "-",
			    "targets": "_all"
			  }]
			
		});	
		
	});*/
	</script>
</body>
</html>