<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
</head>
<body>
	<div class="col-md-12"  th:fragment="categorias">		
		<nav class="navbar navbar-expand-lg navbar-light mb-4 mt-4 bg-dark" style="margin-top: 200px">
		      <div class="container-fluid">
		        <strong class="text-dark mr-2">Categorias: </strong>
		        <button
		          class="navbar-toggler"
		          type="button"
		          data-mdb-toggle="collapse"
		          data-mdb-target="#navbarTogglerDemo02"
		          aria-controls="navbarTogglerDemo02"
		          aria-expanded="false"
		          aria-label="Toggle navigation"
		        >
		          <i class="fas fa-bars"></i>
		        </button>
		        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
		          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
		            <li class="nav-item">
		              <a class="nav-link active" aria-current="page" href="/artigos/0">Todas</a>
		            </li>
		            <li class="nav-item" th:each="categoria : ${categorias}">
		              <a class="nav-link" th:href="@{/artigos/{id} (id=${categoria.id})}" th:text="${categoria.nome}"></a>
		            </li>		            	            
		          </ul>
		          <div class="float float-right">
			          <form class="d-flex input-group w-auto">
			           <div class="input-group rounded">
						  <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"  aria-describedby="search-addon" />
						</div>
			          </form>
		          </div>
		          
		        </div>
		      </div>
		    </nav>
	</div>
</body>
</html>