 
 <!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
</head>
<body>
 
  <header class="bg-dark" >
      <nav class="navbar navbar-expand-lg principal" >
        <div class="container text-dark">
          <a class="navbar-brand" th:href="@{/onlineshop}"><h2>Online <em>Shop</em></h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link"th:href="@{/onlineshop}">Início                  
                </a>
              </li> 
              <li class="nav-item active">
                <a class="nav-link" href="#">Nossos produtos</a>
                <span class="sr-only">(current)</span>
              </li>              
              <li class="nav-item">
                <a class="nav-link" href="#" data-toggle="modal" data-target="#contactoModal">Contacte-nos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" th:href="@{/onlineshop/admin}"> <i class="fas fa-user"></i></a>
              </li>
              <li class="nav-item me-3 me-lg-0">
		        <a class="nav-link" href="#" data-toggle="modal" data-target="#carrinhoModal">
		          <span class="badge badge-pill bg-danger" th:text="${tamanho}">0</span>
		          <span><i class="fas fa-shopping-cart"></i></span>
		        </a>
		      </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    </body>
    </html>