/*
 * Base structure
 */
html, body {
	height: 100%;
}

.layout-content {
	padding-top: 8%;
	margin-left: 250px;
	background-position: center;
	background-size: cover;
	height: 100vh;
	background-color: whitesmoke;
}

.layout-content-admin {
	padding-top: 6%;
	margin-left: 250px;
	background-position: center;
	background-size: cover;
	height: 100vh;
	background-color: whitesmoke;
}