<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<link href="/webjars/open-iconic/font/css/open-iconic-bootstrap.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" />
	<link rel="stylesheet" th:href="@{/css/style.css}" />
	<link rel="stylesheet" th:href="@{/css/styleCorpo.css}"/>
</head>
<body>
	<input type="checkbox" id="check">
	<!-- Header area start-->
	<header th:replace="fragments/header :: cabecalho"> </header>
	<div>
		<div class="sidebar">
			<aside>
				<nav th:replace="fragments/sidebar :: side-bar"></nav>
			</aside>
		</div>
		<section layout:fragment="corpo">
			<div class="content"></div>
		</section>


	</div>
	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="/webjars/jquery/jquery.min.js"></script>
	<script src="/webjars/jquery-mask-plugin/dist/jquery.mask.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
	<script src="//cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript">
	
	$(document).ready(function(){
		
		
		 $('#foto').change(function(){
		    mostrarImagemThumbnail(this);
		  });
		 
		$('.sub-btn').click(function(){
			$(this).next('.sub-menu').slideToggle();
			$(this).find('.dropdown').toggleClass('rotate');
		});
		
		$('table #editButon').click(function(event){
			 event.preventDefault();
			 
			 var href =$(this).attr('href');		
			 $.get(href, function(detalhe, status){
				 $('#preco_unitario').val(detalhe.preco_unitario);
				 $('#codigo').val(detalhe.id);
				 $('#cor').val(detalhe.cor);
				 $('#size').val(detalhe.tamanho);
				 $('#qty_disp').val(detalhe.quant_loja);
				 
				 
				 
			 });
				
		  });
		
		$('table #removeButton').click(function(event){
			 event.preventDefault();
			 var href =$(this).attr('href');	
			 $.get(href, function(detalhe, status){				
				 $('#cod').val(detalhe.id);
				 $('#qty_disp').val(detalhe.quant_loja);
				 
				 
			 });
				
				//$('#removeButton').modal();
		  });
		
		
		$('table #addButton').click(function(event){
			 var href =$(this).attr('href');	
			 console.log(href);
			 event.preventDefault();
			 $.get(href, function(detalhe, status){				
				 $('#code').val(detalhe.id);
				 $('#qty_disponivel').val(detalhe.quant_stock);
				 
				 
			 });
				
				//$('#addButton').modal();
		  });
		$('table #addStockButton').click(function(event){
			 var href =$(this).attr('href');	
			 console.log(href);
			 event.preventDefault();
			 $.get(href, function(detalhe, status){				
		
				 $('#artigoNome').val(detalhe.artigo.descricao+' '+detalhe.cor+' '+detalhe.tamanho);
				 $('#cod_detalhe').val(detalhe.id);
				 $('#art').val(detalhe.artigo.id);
				 
				 
			 });
				
				//$('#addButton').modal();
		  });
		
		
	});
	
	function mostrarImagemThumbnail(fileInput){
		file = fileInput.files[0];
		reader =new FileReader();
		
		reader.onload=function(e){
			$('#thumbnail').attr('src', e.target.result);
		}		
		reader.readAsDataURL(file);
	}
	

	</script>
	

</body>
</html>