<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
</head>
<body>
	<section class="layout-content" layout:fragment="corpo">
		<div class="container mt-3" id="pesquisar">
			<form method="Post">
				<div class="form-row">
					<div class="input-group col-md-6">
						<input type="search" class="form-control rounded mr-1"
							placeholder="Pesquisar" aria-label="Search"
							aria-describedby="search-addon" />
						<button type="button" class="btn btn-outline-primary btn-sm">Pesquisar</button>
					</div>
				</div>
			</form>
			<hr>
		</div>

		<div class="container" id="listagem">
			<div class="table-responsive">
				<table class="table table-striped table-hover table-sm">
					<thead>
						<tr>
							<th>#</th>
							<th>Nome</th>
						
							<th>Ação</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="u : ${utilizadores}">
							<td th:text="${uStat.index}+1">1</td>
							<td th:text="${u.username}">Calcas</td>							
							<td colspan="2">
							<a href="" th:href="@{/utilizadores/excluir/{id} (id=${u.id})}"
								role="button" class="btn btn-danger btn-sm"> <span
									class="oi oi-circle-x" title="Exclusão desabilitada"
									aria-hidden="true"></span>
							</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</section>

</body>
</html>